
/*-- scss:defaults --*/

// colors background
$background-color: #ffffff;

// theme colors
$theme-color-primary: #025259;
$theme-color-secondary: #F29325;
$theme-color-tertiary: #b60000;
$theme-color-quaternary: #F4E2DE;

// fonts colors
$font-color: #000000;
$font-color-inverted: $background-color;
$font-color-loud: $theme-color-secondary;

// colors
$body-bg: $background-color;
$body-color: $font-color;
$link-color: $theme-color-tertiary;